google-generativeai>=0.8.5
atomai>=0.8.1
edison-client>=0.7.6
ase>=0.8.5
aimsgb>=1.1.1
gdown>=5.2.0
atomate2>=0.0.21
mdanalysis>=2.9.0
faiss-cpu>=1.12.0
pymupdf>=1.26.5
pdfplumber>=0.11.7
botorch>=0.16.1
mcp>=1.25.0